.border {
    border: 2px solid red;
    margin: 2px;
}

.flex { 
    display: flex;
}

.justify-content { 
    justify-content: center;
}

.items-align {
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded {
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* Applies to elements that can scroll, like body or div */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark track background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444; /* Scrollbar handle */
    border-radius: 6px;
    border: 3px solid #1e1e1e; /* Creates space around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }
  